body {
    background-color: white;
}
nav {
    color: white;
    height: 3rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    background-color:grey; 
}
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}
ul li {
    list-style: none;
    display: inline-block;
    
}
.fell {
    color: gray;
    background-color: rgb(235, 235, 235);
    height: 1rem;
}
.find, .us, .fell {
    
    padding: 1rem;
}
.carousel {
    background-color: #D8D8D8;
    height: 9rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    
}

.follow {
    padding:20px 0;  
    text-align: center;
}

article{
   display:inline-block;
   background: #e0e0e0;
   width: 30%;
   height:300px;
   margin :0.3%;
}

section.articles{
   text-align: center;
}
   


hr {
    background-color: black;
    height: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



form {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

input,textarea{

    display: block;
    width: 70vw;
    padding:15px;
    margin:5px auto;
    border: 1px solid black;
}



@media screen and ( max-width:961px){
    .articles{
        display: none;
    }
    .carousel{
        display: none;
    }
    .follows{
        margin: 10vh;
    }

}

